.workspace {
  flex: 1;

  &__header {
    padding: 11px 15px 12px;
    width: 100%;
    border-bottom: 1px solid var(--clr-santa-gray);
  }

  &__project-title {
    position: relative;
    display: block;
    margin: 0;
    max-width: 282px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;

    &::before {
      content: "";
      position: absolute;
      top: -11px;
      right: -15px;
      width: 1px;
      height: 45px;
      background-color: var(--clr-santa-gray);
    }
  }

  &__table-wrapper {
    margin-right: -20px;
    padding: 10px;
    padding-right: 20px;
  }
}