@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clr-shark: #27272a;
  --clr-ship-gray: #414144;
  --clr-santa-gray: #a1a1aa;
  --clr-white: #ffffff;

  --clr-wild-blue-yonder: #7890b2;
  --clr-punch: #df4444;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--clr-white);
  background-color: var(--clr-shark);
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: inline-block;
  padding: 0;
  outline: none;
  border: none;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.container {
  margin-inline: auto;
  padding: 0 20px;
  width: min(100%, 1880px);
}